.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    color: darkblue;

}
.header ul{
    display: flex;
    padding: 0px;

}
.header ul li{
    list-style: none;
    width: 100px;
}